{% extends 'base.html' %}
{% load static %}

{% block style %}
    <style>

    </style>
{% endblock %}
{% csrf_token %}
{% block content %}
    {% if datas %}
        <div>

            <div id="myModal" class="modal bd-example-modal-lg" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document" style="max-width: 80%">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="d-flex w-100 justify-content-beetwen">
                                <div style="width: 24.5%" class="my-5">
                                    <h5 class="modal-title">Players Encountered</h5>

                                </div>
                                <div style="width: 24.50%" class="my-5">
                                    total Grade:
                                    {% include 'custombadge.html' with grade=gGrade %}
                                </div>
                                <div style="width: 24.5%" class="my-5">
                                    {% if inGame %}
                                        <span class="badge badge-success">In Game</span>
                                    {% else %}
                                        <span class="badge badge-warning">Not In Game</span>
                                    {% endif %}
                                </div>
                                <div style="width: 24.5%" class="my-5">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>


                            </div>


                        </div>

                        <div class="modal-body">


                            {% for idx, summonerName, data in  datas %}
                                <div class="d-flex my-2 justify-content-center">
                                    <div style="width: 20%">{{ summonerName }}</div>
                                    <div style="width: 20%">{{ data.found }} Times</div>
                                    <div style="width: 20%">My Grade:
                                        {% include 'custombadge.html' with grade=data.myGrade %}


                                    </div>
                                    <div style="width: 20%">Other Grade:
                                        {% include 'custombadge.html' with grade=data.grade %}
                                    </div>
                                    <div style="width: 20%">
                                        <button class="btn btn-primary showHide" data-id="{{ idx }}">show</button>
                                    </div>
                                </div>
                                <table class="table table-striped my-5" data-id="{{ idx }}">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th>lastSeen</th>
                                        <th>mode</th>
                                        <th>date</th>
                                        <th></th>
                                        <th></th>

                                        <th>myChamp</th>
                                        <th>myScore</th>
                                        <th>myGrade</th>
                                        <th>otherGrade</th>
                                        <th>otherScore</th>
                                        <th>otherChamp</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for match in  data.matches %}
                                        <tr>
                                            <td>{{ match.lastSeen }}</td>
                                            <td>{{ match.mode }}</td>
                                            <td>{{ match.time }}</td>
                                            <td>
                                                {% if match.win %}
                                                    <span class="badge badge-success">Won</span>
                                                {% else %}
                                                    <span class="badge badge-danger">Lose</span>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if not match.vs %}
                                                    <span class="badge badge-success">Teammate</span>
                                                {% else %}
                                                    <span class="badge badge-danger">Enemy</span>
                                                {% endif %}


                                            </td>
                                            <td>{{ match.myChamp }}</td>
                                            <td>
                                                {{ match.myScore }}
                                            </td>
                                            <td>
                                                {% include 'custombadge.html' with grade=match.myGrade %}
                                            </td>
                                            <td>
                                                {% include 'custombadge.html' with grade=match.grade %}
                                            </td>
                                            <td>{{ match.score }}</td>
                                            <td>{{ match.champ }}</td>

                                        </tr>
                                    {% endfor %}
                                    </tbody>

                                </table>
                            {% endfor %}


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $('#myModal').modal('show')
            $('table').hide()
            $('.showHide').click(function (idx) {
                let target = $(this)
                let table = target.parent().parent().next()
                if (table.is(":visible")) {
                    target.text('show')
                } else {
                    target.text('hide')
                }
                table.toggle()
            })


        </script>
    {% endif %}
    <div class=""
         style="width:33%;margin-left: 15%;margin-top: 18%;background: white;border-radius: 25px;padding: 20px">
        <Form method="post" action="{% url 'index' %}" style="">
            {% csrf_token %}
            <div style="display: flex; justify-content: space-between">
                <div class="form-group mb-3" style="width: 50%">
                    <label for="summonerName">Summoner Name</label>
                    <input class="form-control" id="summonerName" name="summonerName" type="text">

                </div>

                <div class="form-group mb-3" style="width: 45%">
                    <div class="input-group-prepend">
                        <label class="form-group-text" for="myRegion">Region</label>
                    </div>
                    <select class="custom-select" id="myRegion" name="myRegion">
                        <option value="euw1" selected>EUW</option>
                        <option value="eun1">EUN</option>
                        <option value="kr">KR</option>
                        <option value="na1">NA</option>
                    </select>
                </div>


            </div>

            <div class="w-100 h-50 d-flex justify-content-between">

                <div class="mr-1 mt-5" style="width: 45%">
                    <a class="btn btn-primary" href="https://maddcog.medium.com/measure-league-of-legends-performance-with-this-game-grade-778c2fe832cb"
                       target="_blank">informations about grade</a>
                </div>
                 <button class="btn btn-success ml-1 mt-5" type="submit" style="width: 45%">Search</button>


            </div>
        </Form>

    </div>

{% endblock %}
{% block javascript %}
    <script type="text/javascript">

    </script>
{% endblock %}